<h2 mat-dialog-title>
  {{ data.order?.id ? "Editar Orden" : "Crear Nueva Orden" }}
</h2>
<mat-dialog-content>
  <form [formGroup]="orderForm" (ngSubmit)="save()">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>ID del Cliente</mat-label>
      <input matInput formControlName="clientId" type="number" required />
      <mat-error *ngIf="orderForm.get('clientId')?.hasError('required')">
        El ID del cliente es obligatorio
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>ID del Usuario</mat-label>
      <input matInput formControlName="userId" type="number" required />
      <mat-error *ngIf="orderForm.get('userId')?.hasError('required')">
        El ID del usuario es obligatorio
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Fecha de Entrega</mat-label>
      <input
        matInput
        [matDatepicker]="deliveryDatePicker"
        formControlName="deliveryDate"
        required
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="deliveryDatePicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #deliveryDatePicker></mat-datepicker>
      <mat-error *ngIf="orderForm.get('deliveryDate')?.hasError('required')">
        La fecha de entrega es obligatoria
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Dirección de Entrega</mat-label>
      <textarea matInput formControlName="deliveryAddress" required></textarea>
      <mat-error *ngIf="orderForm.get('deliveryAddress')?.hasError('required')">
        La dirección de entrega es obligatoria
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Método de Pago</mat-label>
      <mat-select formControlName="paymentMethod" required>
        <mat-option value="Efectivo">Efectivo</mat-option>
        <mat-option value="Yape">Yape</mat-option>
        <mat-option value="Plin">Plin</mat-option>
        <mat-option value="Transferencia">Transferencia</mat-option>
        <mat-option value="Tarjeta">Tarjeta</mat-option>
      </mat-select>
      <mat-error *ngIf="orderForm.get('paymentMethod')?.hasError('required')">
        El método de pago es obligatorio
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Notas</mat-label>
      <textarea matInput formControlName="notes"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Estado</mat-label>
      <mat-select formControlName="status" required>
        <mat-option *ngFor="let estado of estados" [value]="estado">
          {{ statusMap[estado] }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="orderForm.get('status')?.hasError('required')">
        El estado es obligatorio
      </mat-error>
    </mat-form-field>

    <div class="order-details-section">
      <div class="header-details">
        <h3>Detalles de la Orden</h3>
        <button
          mat-raised-button
          color="accent"
          type="button"
          (click)="addOrderDetail()"
        >
          <mat-icon>add</mat-icon> Añadir Producto
        </button>
      </div>

      <div *ngIf="orderDetailsDataSource.length > 0; else noOrderDetails">
        <div class="mobile-table-container">
          <table
            mat-table
            [dataSource]="orderDetailsDataSource"
            class="mat-elevation-z2 full-width"
          >
            <ng-container matColumnDef="productId">
              <th mat-header-cell *matHeaderCellDef>ID Prod.</th>
              <td
                mat-cell
                *matCellDef="let element; let i = index"
                [formGroup]="element"
              >
                <mat-form-field appearance="fill">
                  <input
                    matInput
                    formControlName="productId"
                    type="number"
                    required
                  />
                  <mat-error
                    *ngIf="element.get('productId')?.hasError('required')"
                  >
                    Req.
                  </mat-error>
                </mat-form-field>
              </td>
            </ng-container>

            <ng-container matColumnDef="quantity">
              <th mat-header-cell *matHeaderCellDef>Cant.</th>
              <td
                mat-cell
                *matCellDef="let element; let i = index"
                [formGroup]="element"
              >
                <mat-form-field appearance="fill">
                  <input
                    matInput
                    formControlName="quantity"
                    type="number"
                    min="1"
                    required
                  />
                  <mat-error *ngIf="element.get('quantity')?.hasError('min')">
                    >0
                  </mat-error>
                </mat-form-field>
              </td>
            </ng-container>

            <ng-container matColumnDef="unitPrice">
              <th mat-header-cell *matHeaderCellDef>P. Unit.</th>
              <td
                mat-cell
                *matCellDef="let element; let i = index"
                [formGroup]="element"
              >
                <mat-form-field appearance="fill">
                  <input
                    matInput
                    formControlName="unitPrice"
                    type="number"
                    min="0"
                    required
                  />
                  <mat-error *ngIf="element.get('unitPrice')?.hasError('min')">
                    ≥0
                  </mat-error>
                </mat-form-field>
              </td>
            </ng-container>

            <ng-container matColumnDef="discount">
              <th mat-header-cell *matHeaderCellDef>Desc. (%)</th>
              <td
                mat-cell
                *matCellDef="let element; let i = index"
                [formGroup]="element"
              >
                <mat-form-field appearance="fill">
                  <input
                    matInput
                    formControlName="discount"
                    type="number"
                    min="0"
                    max="100"
                  />
                  <mat-error
                    *ngIf="
                      element.get('discount')?.hasError('min') ||
                      element.get('discount')?.hasError('max')
                    "
                  >
                    %
                  </mat-error>
                </mat-form-field>
              </td>
            </ng-container>

            <ng-container matColumnDef="subtotal">
              <th mat-header-cell *matHeaderCellDef>Subtotal</th>
              <td
                mat-cell
                *matCellDef="let element; let i = index"
                [formGroup]="element"
              >
                <span class="value-display">{{ element.get('subtotal')?.value | number:'1.2-2' }}</span>
              </td>
            </ng-container>

            <ng-container matColumnDef="total">
              <th mat-header-cell *matHeaderCellDef>Total</th>
              <td
                mat-cell
                *matCellDef="let element; let i = index"
                [formGroup]="element"
              >
                <span class="value-display">{{ element.get('total')?.value | number:'1.2-2' }}</span>
              </td>
            </ng-container>

            <ng-container matColumnDef="comments">
              <th mat-header-cell *matHeaderCellDef>Comentarios</th>
              <td
                mat-cell
                *matCellDef="let element; let i = index"
                [formGroup]="element"
              >
                <mat-form-field appearance="fill">
                  <textarea matInput formControlName="comments"></textarea>
                </mat-form-field>
              </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>Acciones</th>
              <td mat-cell *matCellDef="let element; let i = index">
                <button
                  mat-icon-button
                  color="warn"
                  type="button"
                  (click)="removeOrderDetail(i)"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
      </div>
      <ng-template #noOrderDetails>
        <p class="no-order-details">No hay detalles de orden añadidos aún.</p>
      </ng-template>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button type="button" (click)="cancel()">Cancelar</button>
  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="orderForm.invalid"
    (click)="save()"
  >
    Guardar
  </button>
</mat-dialog-actions>