<div class="dashboard-container">
  <div class="dashboard-header">
    <h1>Dashboard</h1>
    <button mat-raised-button color="primary" (click)="refreshData()">🔄 Actualizar datos</button>
  </div>

  <mat-grid-list [cols]="gridCols" rowHeight="260px" gutterSize="16px">
    <mat-grid-tile *ngFor="let card of cards" [colspan]="card.colspan" rowspan="1">
      <mat-card class="card">
        <mat-card-title>{{ card.title }}</mat-card-title>
        <mat-card-content>
          <div class="value">{{ card.value }}</div>
          <div *ngIf="card.status" [ngClass]="card.statusClass" class="status">{{ card.status }}</div>
          <span>{{ card.description }}</span>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

  <div *ngIf="showCharts" class="dashboard-charts" style="margin-top: 32px;">
    <mat-card class="chart-card" style="margin-bottom: 242px;">
      <mat-card-title>Resumen general</mat-card-title>
      <mat-card-content>
        <p>Resumen visual de Productos, Clientes y Pedidos</p>
        <div style="display: block;">
          <canvas baseChart
                    [data]="barChartData"
                    [options]="barChartOptions"
                    [type]="barChartType">
          </canvas>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="chart-card">
      <mat-card-title>Productos Populares</mat-card-title>
      <mat-card-content>
        <p>Los productos más vendidos</p>
        <div style="display: block;">
          <canvas baseChart
                    [data]="pieChartData"
                    [options]="pieChartOptions"
                    [type]="pieChartType">
          </canvas>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>